# Part 2 Instructions: Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [77]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [78]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [79]:
# Import the WeatherPy_database.csv file from Part 1 as a new DataFrame.
city_data_df = pd.read_csv("weather_data/data/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather,Rainfall over last hr (inches),Snowfall over last hr (inches)
0,0,Hermanus,ZA,-34.42,19.23,57.00,91,83,11.16,light rain,0.1,0.0
1,1,Salalah,OM,17.02,54.09,84.20,83,20,1.12,few clouds,0.0,0.0
2,2,Koungheul,SN,13.98,-14.80,98.13,34,82,6.60,broken clouds,0.0,0.0
3,3,Taltal,CL,-25.40,-70.48,66.94,55,22,1.10,few clouds,0.0,0.0
4,4,Carutapera,BR,-1.20,-46.02,82.06,80,0,7.25,clear sky,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
581,581,Severnyy,RU,50.68,36.55,73.40,60,75,6.71,broken clouds,0.0,0.0
582,582,Canto Do Buriti,BR,-8.11,-42.94,84.58,43,0,6.42,clear sky,0.0,0.0
583,583,Santa Vitoria,BR,-18.84,-50.12,80.64,43,65,4.92,broken clouds,0.0,0.0
584,584,Meulaboh,ID,4.14,96.13,77.13,85,100,7.29,light rain,0.4,0.0
585,585,Salekhard,RU,66.53,66.60,46.29,66,98,16.44,overcast clouds,0.0,0.0

In [80]:
city_data_df.dtypes

City_ID                             int64
City                               object
Country                            object
Lat                               float64
Lng                               float64
Max Temp                          float64
Humidity                            int64
Cloudiness                          int64
Wind Speed                        float64
Current Weather                    object
Rainfall over last hr (inches)    float64
Snowfall over last hr (inches)    float64
dtype: object

# Filter the DataFrame for minimum and maximum temperature preferences, and if the rain or snow accumulation is 0 inches or not using conditional statements

In [81]:
# Create customer prompts
min_temp_prompt = float(input("What is the minimum temperature you would like for your trip? "))
max_temp_prompt = float(input("What is the maximum temperature you would like for your trip? "))
rain_prompt = input("Do you want it to be raining? (yes/no)")
snow_prompt = input("Do you want it to be snowing? (yes/no)")

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 100
Do you want it to be raining? (yes/no)no
Do you want it to be snowing? (yes/no)no

In [82]:
if rain_prompt == "no" and snow_prompt == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp_prompt) &
                                          (city_data_df["Max Temp"] >= min_temp_prompt) &
                                          (city_data_df["Rainfall over last hr (inches)"] == 0.0) &
                                          (city_data_df["Snowfall over last hr (inches)"] == 0.0)]

elif rain_prompt == "no" and snow_prompt == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp_prompt) &
                                          (city_data_df["Max Temp"] >= min_temp_prompt) &
                                          (city_data_df["Rainfall over last hr (inches)"] == 0.0) &
                                          (city_data_df["Snowfall over last hr (inches)"] > 0.0)]

elif rain_prompt == "yes" and snow_prompt == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp_prompt) &
                                          (city_data_df["Max Temp"] >= min_temp_prompt) &
                                          (city_data_df["Rainfall over last hr (inches)"] > 0.0) &
                                          (city_data_df["Snowfall over last hr (inches)"] == 0.0)]

else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp_prompt) &
                                          (city_data_df["Max Temp"] >= min_temp_prompt) &
                                          (city_data_df["Rainfall over last hr (inches)"] > 0.0) &
                                          (city_data_df["Snowfall over last hr (inches)"] > 0.0)]

In [83]:
# City DataFrame from customer prompt
filtered_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather,Rainfall over last hr (inches),Snowfall over last hr (inches)
1,1,Salalah,OM,17.02,54.09,84.20,83,20,1.12,few clouds,0.0,0.0
2,2,Koungheul,SN,13.98,-14.80,98.13,34,82,6.60,broken clouds,0.0,0.0
4,4,Carutapera,BR,-1.20,-46.02,82.06,80,0,7.25,clear sky,0.0,0.0
14,14,George Town,MY,5.41,100.34,82.40,83,20,4.70,few clouds,0.0,0.0
17,17,Brigantine,US,39.41,-74.36,82.40,58,20,12.75,few clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
562,562,Les Cayes,HT,18.20,-73.75,84.96,73,52,10.11,broken clouds,0.0,0.0
578,578,Mahuva,IN,21.09,71.76,84.36,77,100,14.61,overcast clouds,0.0,0.0
580,580,Corpus Christi,US,27.80,-97.40,90.00,62,75,14.99,broken clouds,0.0,0.0
582,582,Canto Do Buriti,BR,-8.11,-42.94,84.58,43,0,6.42,clear sky,0.0,0.0
583,583,Santa Vitoria,BR,-18.84,-50.12,80.64,43,65,4.92,broken clouds,0.0,0.0

In [84]:
filtered_cities_df.count()

City_ID                           158
City                              158
Country                           158
Lat                               158
Lng                               158
Max Temp                          158
Humidity                          158
Cloudiness                        158
Wind Speed                        158
Current Weather                   158
Rainfall over last hr (inches)    158
Snowfall over last hr (inches)    158
dtype: int64

In [85]:
# Drop na from City DataFrame
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather,Rainfall over last hr (inches),Snowfall over last hr (inches)
1,1,Salalah,OM,17.02,54.09,84.20,83,20,1.12,few clouds,0.0,0.0
2,2,Koungheul,SN,13.98,-14.80,98.13,34,82,6.60,broken clouds,0.0,0.0
4,4,Carutapera,BR,-1.20,-46.02,82.06,80,0,7.25,clear sky,0.0,0.0
14,14,George Town,MY,5.41,100.34,82.40,83,20,4.70,few clouds,0.0,0.0
17,17,Brigantine,US,39.41,-74.36,82.40,58,20,12.75,few clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
562,562,Les Cayes,HT,18.20,-73.75,84.96,73,52,10.11,broken clouds,0.0,0.0
578,578,Mahuva,IN,21.09,71.76,84.36,77,100,14.61,overcast clouds,0.0,0.0
580,580,Corpus Christi,US,27.80,-97.40,90.00,62,75,14.99,broken clouds,0.0,0.0
582,582,Canto Do Buriti,BR,-8.11,-42.94,84.58,43,0,6.42,clear sky,0.0,0.0
583,583,Santa Vitoria,BR,-18.84,-50.12,80.64,43,65,4.92,broken clouds,0.0,0.0

In [86]:
filtered_cities_df.count()

City_ID                           158
City                              158
Country                           158
Lat                               158
Lng                               158
Max Temp                          158
Humidity                          158
Cloudiness                        158
Wind Speed                        158
Current Weather                   158
Rainfall over last hr (inches)    158
Snowfall over last hr (inches)    158
dtype: int64

# Add the cities to a marker layer map with a pop-up marker for each city that includes: Hotel name, City, Country, Current weather description with the maximum temperature

In [87]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Weather"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
1,Salalah,OM,84.20,17.02,54.09,few clouds,
2,Koungheul,SN,98.13,13.98,-14.80,broken clouds,
4,Carutapera,BR,82.06,-1.20,-46.02,clear sky,
14,George Town,MY,82.40,5.41,100.34,few clouds,
17,Brigantine,US,82.40,39.41,-74.36,few clouds,
...,...,...,...,...,...,...,...
562,Les Cayes,HT,84.96,18.20,-73.75,broken clouds,
578,Mahuva,IN,84.36,21.09,71.76,overcast clouds,
580,Corpus Christi,US,90.00,27.80,-97.40,broken clouds,
582,Canto Do Buriti,BR,84.58,-8.11,-42.94,clear sky,
583,Santa Vitoria,BR,80.64,-18.84,-50.12,broken clouds,

In [88]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, KeyError):
        print("Hotel not found... skipping.")
    else:
        if hotel_df["Hotel Name"] is None:
            pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [89]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
1,Salalah,OM,84.20,17.02,54.09,few clouds,HAMDAN PLAZA HOTEL
2,Koungheul,SN,98.13,13.98,-14.80,broken clouds,
4,Carutapera,BR,82.06,-1.20,-46.02,clear sky,Lidera
14,George Town,MY,82.40,5.41,100.34,few clouds,Cititel Penang
17,Brigantine,US,82.40,39.41,-74.36,few clouds,Legacy Vacation Resort Brigantine Beach
...,...,...,...,...,...,...,...
562,Les Cayes,HT,84.96,18.20,-73.75,broken clouds,Villa Orphee
578,Mahuva,IN,84.36,21.09,71.76,overcast clouds,Hotel Blue Diamond.
580,Corpus Christi,US,90.00,27.80,-97.40,broken clouds,Holiday Inn Corpus Christi Downtown Marina
582,Canto Do Buriti,BR,84.58,-8.11,-42.94,clear sky,Novo Hotel
583,Santa Vitoria,BR,80.64,-18.84,-50.12,broken clouds,Center Hotel

In [90]:
# Remove rows with "" Hotel Name
blanks = hotel_df["Hotel Name"] != ""
hotel_df = hotel_df[blanks]
hotel_df

,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
1,Salalah,OM,84.20,17.02,54.09,few clouds,HAMDAN PLAZA HOTEL
4,Carutapera,BR,82.06,-1.20,-46.02,clear sky,Lidera
14,George Town,MY,82.40,5.41,100.34,few clouds,Cititel Penang
17,Brigantine,US,82.40,39.41,-74.36,few clouds,Legacy Vacation Resort Brigantine Beach
20,Georgetown,MY,82.40,5.41,100.34,few clouds,Cititel Penang
...,...,...,...,...,...,...,...
562,Les Cayes,HT,84.96,18.20,-73.75,broken clouds,Villa Orphee
578,Mahuva,IN,84.36,21.09,71.76,overcast clouds,Hotel Blue Diamond.
580,Corpus Christi,US,90.00,27.80,-97.40,broken clouds,Holiday Inn Corpus Christi Downtown Marina
582,Canto Do Buriti,BR,84.58,-8.11,-42.94,clear sky,Novo Hotel
583,Santa Vitoria,BR,80.64,-18.84,-50.12,broken clouds,Center Hotel

In [91]:
# Save and upload the new DataFrame as WeatherPy_vacation.csv
output_data_file = "weather_data/data/WeatherPy_vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [93]:
vacation_df = pd.read_csv("weather_data/data/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
0,1,Salalah,OM,84.20,17.02,54.09,few clouds,HAMDAN PLAZA HOTEL
1,4,Carutapera,BR,82.06,-1.20,-46.02,clear sky,Lidera
2,14,George Town,MY,82.40,5.41,100.34,few clouds,Cititel Penang
3,17,Brigantine,US,82.40,39.41,-74.36,few clouds,Legacy Vacation Resort Brigantine Beach
4,20,Georgetown,MY,82.40,5.41,100.34,few clouds,Cititel Penang
...,...,...,...,...,...,...,...,...
141,562,Les Cayes,HT,84.96,18.20,-73.75,broken clouds,Villa Orphee
142,578,Mahuva,IN,84.36,21.09,71.76,overcast clouds,Hotel Blue Diamond.
143,580,Corpus Christi,US,90.00,27.80,-97.40,broken clouds,Holiday Inn Corpus Christi Downtown Marina
144,582,Canto Do Buriti,BR,84.58,-8.11,-42.94,clear sky,Novo Hotel
145,583,Santa Vitoria,BR,80.64,-18.84,-50.12,broken clouds,Center Hotel

In [94]:
# Using the template add the hotel marks to the map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} at {Max Temp}</dd>
"""

# Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Add a marker layer map of the vacation spots and a pop-up marker for each city
locations = vacation_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(38,38), zoom_level = 1.8)
fig.add_layer(marker_layer)
fig
# Click icon on top left of map to download and save

Figure(layout=FigureLayout(height='420px'))