# Resample

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
# Load the data
df = pd.read_csv("..\\Starter_Code\\LoanStats_2019Q1.csv", skiprows=1)[:-2]
df

C:\Users\Dell PC\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,21225.0,21225.0,21225.0,60 months,14.74%,502.05,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000.0,5000.0,5000.0,36 months,17.97%,180.69,D,D1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20000.0,20000.0,20000.0,36 months,8.19%,628.49,A,A4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12000.0,12000.0,12000.0,60 months,15.57%,289.09,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115670,NaN,NaN,5000.0,5000.0,5000.0,36 months,13.56%,169.83,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
115671,NaN,NaN,6000.0,6000.0,6000.0,36 months,6.46%,183.79,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
115672,NaN,NaN,16000.0,16000.0,16000.0,36 months,16.14%,563.62,C,C4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
115673,NaN,NaN,16000.0,16000.0,16000.0,60 months,11.31%,350.36,B,B3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
115674,NaN,NaN,29250.0,29250.0,29250.0,60 months,18.94%,757.80,D,D2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop the null columns where all values are null
df = df.dropna(axis="columns", how="any")
df = df.dropna(axis="rows", how="any")
df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,RENT,47000.0,...,5.0,98.0,0.0,0.0,75824.0,31546.0,33800.0,21524.0,N,N
1,21225.0,21225.0,21225.0,60 months,14.74%,502.05,C,C2,MORTGAGE,225000.0,...,2.0,100.0,1.0,0.0,747075.0,209426.0,53500.0,128175.0,N,N
2,5000.0,5000.0,5000.0,36 months,17.97%,180.69,D,D1,MORTGAGE,62000.0,...,1.0,66.7,0.0,0.0,255738.0,31615.0,9400.0,39938.0,N,N
3,20000.0,20000.0,20000.0,36 months,8.19%,628.49,A,A4,MORTGAGE,200000.0,...,3.0,95.7,0.0,0.0,448069.0,84744.0,49400.0,105180.0,N,N
4,12000.0,12000.0,12000.0,60 months,15.57%,289.09,C,C3,MORTGAGE,49000.0,...,4.0,86.1,0.0,0.0,189260.0,106025.0,24400.0,68860.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115670,5000.0,5000.0,5000.0,36 months,13.56%,169.83,C,C1,MORTGAGE,48000.0,...,0.0,90.5,0.0,0.0,88613.0,9182.0,0.0,11413.0,N,N
115671,6000.0,6000.0,6000.0,36 months,6.46%,183.79,A,A1,MORTGAGE,96000.0,...,1.0,100.0,1.0,0.0,33500.0,50.0,14900.0,0.0,N,N
115672,16000.0,16000.0,16000.0,36 months,16.14%,563.62,C,C4,MORTGAGE,32000.0,...,3.0,93.3,1.0,0.0,34200.0,17066.0,16400.0,0.0,N,N
115673,16000.0,16000.0,16000.0,60 months,11.31%,350.36,B,B3,MORTGAGE,72000.0,...,0.0,94.3,1.0,0.0,251486.0,74835.0,23000.0,63090.0,N,N
115674,29250.0,29250.0,29250.0,60 months,18.94%,757.80,D,D2,MORTGAGE,65000.0,...,1.0,100.0,0.0,0.0,237833.0,58788.0,38800.0,25728.0,N,N

In [4]:
# Remove the `Issued` loan status
df = df[df.loan_status != "Issued"]
df = df[df.loan_status != "Fully Paid"]

# Add loan_risk1 column and assign values
df.insert(8, "loan_risk1", df.loan_status)
df.loan_risk1.replace(["Current", "Charged Off", "In Grace Period", "Late (16-30 days)", "Late (31-120 days)"], 
                      ["0", "1", "1", "1", "1"], inplace=True)

df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,loan_risk1,home_ownership,...,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
82,20000.0,20000.0,20000.0,36 months,22.50%,769.00,D,D3,0,RENT,...,1.0,100.0,0.0,0.0,77797.0,55014.0,47000.0,30797.0,N,N
93,10500.0,10500.0,10500.0,36 months,17.19%,375.35,C,C5,0,RENT,...,3.0,85.7,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
99,25000.0,25000.0,25000.0,36 months,20.00%,929.09,D,D2,0,MORTGAGE,...,6.0,91.2,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
132,20000.0,20000.0,20000.0,60 months,20.00%,529.88,D,D2,0,MORTGAGE,...,4.0,66.7,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
133,10000.0,10000.0,10000.0,36 months,16.40%,353.55,C,C4,0,RENT,...,1.0,100.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115670,5000.0,5000.0,5000.0,36 months,13.56%,169.83,C,C1,0,MORTGAGE,...,0.0,90.5,0.0,0.0,88613.0,9182.0,0.0,11413.0,N,N
115671,6000.0,6000.0,6000.0,36 months,6.46%,183.79,A,A1,0,MORTGAGE,...,1.0,100.0,1.0,0.0,33500.0,50.0,14900.0,0.0,N,N
115672,16000.0,16000.0,16000.0,36 months,16.14%,563.62,C,C4,0,MORTGAGE,...,3.0,93.3,1.0,0.0,34200.0,17066.0,16400.0,0.0,N,N
115673,16000.0,16000.0,16000.0,60 months,11.31%,350.36,B,B3,0,MORTGAGE,...,0.0,94.3,1.0,0.0,251486.0,74835.0,23000.0,63090.0,N,N
115674,29250.0,29250.0,29250.0,60 months,18.94%,757.80,D,D2,0,MORTGAGE,...,1.0,100.0,0.0,0.0,237833.0,58788.0,38800.0,25728.0,N,N

In [5]:
# Assign loan_risk1 as target column and to numeric
target_column = ["loan_risk1"]
df["loan_risk1"] = pd.to_numeric(df["loan_risk1"])

In [6]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
df = df.select_dtypes(include=numerics)
df

,loan_amnt,funded_amnt,funded_amnt_inv,installment,loan_risk1,annual_inc,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
82,20000.0,20000.0,20000.0,769.00,0,75000.0,0.0,0.0,8.0,0.0,...,0.0,0.0,1.0,100.0,0.0,0.0,77797.0,55014.0,47000.0,30797.0
93,10500.0,10500.0,10500.0,375.35,0,66000.0,0.0,0.0,8.0,0.0,...,0.0,0.0,3.0,85.7,0.0,0.0,65687.0,38199.0,2000.0,61987.0
99,25000.0,25000.0,25000.0,929.09,0,105000.0,0.0,0.0,17.0,1.0,...,0.0,0.0,6.0,91.2,1.0,0.0,271427.0,60641.0,41200.0,49197.0
132,20000.0,20000.0,20000.0,529.88,0,56000.0,0.0,0.0,8.0,0.0,...,0.0,0.0,4.0,66.7,0.0,0.0,60644.0,45684.0,7500.0,43144.0
133,10000.0,10000.0,10000.0,353.55,0,92000.0,0.0,1.0,10.0,1.0,...,0.0,0.0,1.0,100.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115670,5000.0,5000.0,5000.0,169.83,0,48000.0,2.0,0.0,8.0,0.0,...,0.0,0.0,0.0,90.5,0.0,0.0,88613.0,9182.0,0.0,11413.0
115671,6000.0,6000.0,6000.0,183.79,0,96000.0,0.0,0.0,16.0,1.0,...,0.0,0.0,1.0,100.0,1.0,0.0,33500.0,50.0,14900.0,0.0
115672,16000.0,16000.0,16000.0,563.62,0,32000.0,0.0,0.0,13.0,1.0,...,0.0,0.0,3.0,93.3,1.0,0.0,34200.0,17066.0,16400.0,0.0
115673,16000.0,16000.0,16000.0,350.36,0,72000.0,2.0,0.0,12.0,1.0,...,0.0,2.0,0.0,94.3,1.0,0.0,251486.0,74835.0,23000.0,63090.0
115674,29250.0,29250.0,29250.0,757.80,0,65000.0,0.0,0.0,20.0,0.0,...,0.0,0.0,1.0,100.0,0.0,0.0,237833.0,58788.0,38800.0,25728.0

In [7]:
df.dtypes

loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
installment                   float64
loan_risk1                      int64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 66, dtype: object

In [8]:
df.to_csv("..\\Starter_Code\\LoanStats_2019Q1_updated.csv")

In [9]:
# Define features set with high_risk
X = df.copy()
X = X.drop("loan_risk1", axis=1)
X

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
82,20000.0,20000.0,20000.0,769.00,75000.0,0.0,0.0,8.0,0.0,44934.0,...,0.0,0.0,1.0,100.0,0.0,0.0,77797.0,55014.0,47000.0,30797.0
93,10500.0,10500.0,10500.0,375.35,66000.0,0.0,0.0,8.0,0.0,1609.0,...,0.0,0.0,3.0,85.7,0.0,0.0,65687.0,38199.0,2000.0,61987.0
99,25000.0,25000.0,25000.0,929.09,105000.0,0.0,0.0,17.0,1.0,18368.0,...,0.0,0.0,6.0,91.2,1.0,0.0,271427.0,60641.0,41200.0,49197.0
132,20000.0,20000.0,20000.0,529.88,56000.0,0.0,0.0,8.0,0.0,13247.0,...,0.0,0.0,4.0,66.7,0.0,0.0,60644.0,45684.0,7500.0,43144.0
133,10000.0,10000.0,10000.0,353.55,92000.0,0.0,1.0,10.0,1.0,17996.0,...,0.0,0.0,1.0,100.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115670,5000.0,5000.0,5000.0,169.83,48000.0,2.0,0.0,8.0,0.0,3846.0,...,0.0,0.0,0.0,90.5,0.0,0.0,88613.0,9182.0,0.0,11413.0
115671,6000.0,6000.0,6000.0,183.79,96000.0,0.0,0.0,16.0,1.0,50.0,...,0.0,0.0,1.0,100.0,1.0,0.0,33500.0,50.0,14900.0,0.0
115672,16000.0,16000.0,16000.0,563.62,32000.0,0.0,0.0,13.0,1.0,17066.0,...,0.0,0.0,3.0,93.3,1.0,0.0,34200.0,17066.0,16400.0,0.0
115673,16000.0,16000.0,16000.0,350.36,72000.0,2.0,0.0,12.0,1.0,11882.0,...,0.0,2.0,0.0,94.3,1.0,0.0,251486.0,74835.0,23000.0,63090.0
115674,29250.0,29250.0,29250.0,757.80,65000.0,0.0,0.0,20.0,0.0,38465.0,...,0.0,0.0,1.0,100.0,0.0,0.0,237833.0,58788.0,38800.0,25728.0

In [10]:
# Define target vector with low_risk
y = df["loan_risk1"].values
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [11]:
X.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,94683.000000,94683.000000,94683.000000,94683.000000,9.468300e+04,94683.000000,94683.000000,94683.000000,94683.000000,94683.000000,...,94683.0,94683.000000,94683.000000,94683.000000,94683.000000,94683.0,9.468300e+04,9.468300e+04,94683.000000,9.468300e+04
mean,16693.996282,16693.996282,16690.809860,481.697924,8.500503e+04,0.226376,0.440607,11.708469,0.117518,17893.528015,...,0.0,0.056293,1.973174,94.924204,0.117466,0.0,1.966662e+05,5.574994e+04,29239.220536,4.850131e+04
std,10363.553405,10363.553405,10366.060036,291.202526,1.085234e+05,0.739229,0.734290,5.971230,0.327341,22652.760672,...,0.0,0.408114,1.845601,8.647675,0.327279,0.0,1.925330e+05,5.580989e+04,26964.996528,5.018458e+04
min,1000.000000,1000.000000,725.000000,30.640000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,20.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,9000.000000,9000.000000,9000.000000,264.940000,4.900000e+04,0.000000,0.000000,7.000000,0.000000,6213.000000,...,0.0,0.000000,1.000000,92.900000,0.000000,0.0,5.783900e+04,2.156300e+04,11200.000000,1.600000e+04
50%,15000.000000,15000.000000,15000.000000,401.860000,7.000000e+04,0.000000,0.000000,11.000000,0.000000,12105.000000,...,0.0,0.000000,2.000000,100.000000,0.000000,0.0,1.285960e+05,4.063600e+04,21500.000000,3.593300e+04
75%,24000.000000,24000.000000,24000.000000,648.450000,1.000000e+05,0.000000,1.000000,15.000000,0.000000,21965.000000,...,0.0,0.000000,3.000000,100.000000,0.000000,0.0,2.871210e+05,7.062500e+04,38700.000000,6.548250e+04
max,40000.000000,40000.000000,40000.000000,1676.230000,8.797500e+06,18.000000,5.000000,72.000000,4.000000,613796.000000,...,0.0,18.000000,19.000000,100.000000,4.000000,0.0,4.284707e+06,1.295455e+06,509400.000000,1.426964e+06

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Create X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [13]:
# Create StandardScaler instance
scaler = StandardScaler()

In [14]:
# Fit Standard Scaler
X_scaler = scaler.fit(X_train)

In [15]:
# Scale data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Oversample

### Random Oversample

In [16]:
from imblearn.over_sampling import RandomOverSampler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced

In [17]:
# Random Oversampling
random_oversampler = RandomOverSampler(random_state=1)
X_resampled, y_resampled = random_oversampler.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({0: 75295, 1: 75295})

In [18]:
# Train Logistic Regression model using Random Oversampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\Dell PC\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [19]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[13735,  5086],
       [   41,    75]], dtype=int64)

In [20]:
# Calculate the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.6881608309866638

In [21]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.73      0.65      0.84      0.69      0.48     18821
          1       0.01      0.65      0.73      0.03      0.69      0.47       116

avg / total       0.99      0.73      0.65      0.84      0.69      0.48     18937

### SMOTE Oversample

In [22]:
from imblearn.over_sampling import SMOTE

In [23]:
# Resample the training data with SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 75295, 1: 75295})

In [24]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\Dell PC\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [25]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6972065777588864

In [26]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[13751,  5070],
       [   39,    77]], dtype=int64)

In [27]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.73      0.66      0.84      0.70      0.49     18821
          1       0.01      0.66      0.73      0.03      0.70      0.48       116

avg / total       0.99      0.73      0.66      0.84      0.70      0.49     18937

# Undersample

In [28]:
from imblearn.under_sampling import ClusterCentroids
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced

In [29]:
# Resample the data using the ClusterCentroids resampler
cluster = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cluster.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 451, 1: 451})

In [30]:
# Logistic regression using cluster centroid undersampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\Dell PC\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [31]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[9601, 9220],
       [  58,   58]], dtype=int64)

In [32]:
# Calculate the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.5050608362998779

In [33]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.51      0.50      0.67      0.51      0.26     18821
          1       0.01      0.50      0.51      0.01      0.51      0.25       116

avg / total       0.99      0.51      0.50      0.67      0.51      0.26     18937

# Combination (Over and Under) Sample

In [34]:
from imblearn.combine import SMOTEENN
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced

In [35]:
# Resample the training data with SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({0: 85298, 1: 94092})

In [36]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\Dell PC\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [37]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[12491,  6330],
       [   31,    85]], dtype=int64)

In [38]:
# Calculate the Balanced Accuracy Score
balanced_accuracy_score(y_test, y_pred)

0.6982160884118803

In [39]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.66      0.73      0.80      0.70      0.48     18821
          1       0.01      0.73      0.66      0.03      0.70      0.49       116

avg / total       0.99      0.66      0.73      0.79      0.70      0.48     18937